@model List<RealEstate_Dapper_UI.Dtos.EmployeeDtos.ResultEmployeeDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Employee Table</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Title</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">ImageURL</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>@item.Title</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.ImageURL</td>
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/Employee/DeleteEmployee/@item.EmployeeID" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/Employee/UpdateEmployee/@item.EmployeeID" class="btn btn-outline-warning">Update</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Employee/CreateEmployee/" class="btn btn-outline-primary">Create a New Employee</a>
                </div>
            </div>
        </div>
    </div>
</div>