@model List<RealEstate_Dapper_UI.Dtos.ProductDtos.ResultLast5ProductWithCategoryDto>
@{
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Last Posts</h6>
            <a href="">Show All</a>
        </div>  
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Location</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>@item.Title</td>
                            <td>@item.City - @item.District</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Price $</td>
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>